@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box
}

html{
  font-size: 10px;
}

body{
  font-family:'Roboto',sans-serif;
}

header{
  height:10vh;
  max-width:auto;
  margin:auto;
  padding:20px;
}

nav{
  display:flex;
}
nav ul {
	margin:0 3rem 0 0;
	padding:0;
	list-style:none;
	display:flex;
	flex:1 0 0%;
  justify-content:space-evenly;
  font-size: 2em;
}

a{
  text-decoration: none;
}

.banner{
  display:flex;
  flex-direction: column;
  height:100vh;
  margin-top:25px;
}
.portrait{
  align-self: center;
}
.content{
  align-self:center;
  text-align: center;
}
.mtb{
  align-self: center;
}

h1{
  margin:25px;
  font-size: 40px;
}
h2{
  font-size: 25px;
}
p{
  padding:50px;
  max-width: 800px;
  font-size: 15px;
}
/* .banner{
  display:flex;
  flex-wrap:wrap;
  height:90vh;
  gap:25px;
  justify-content:space-around;
}

.portrait{
  flex:2;
  display:flex;
  align-self:center;
  justify-content: center;
  object-fit:contain;
}

.content{
  flex:3;
  display:flex;
  flex-direction: column;
  align-self:center;
  border:2px solid black;
}

.banner .content{
  background:red;

} */