@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin:0;
  padding:0;
}


nav{
  display:flex;
}
nav ul {
	margin:0 3rem 0 0;
	padding:0;
	list-style:none;
	display:flex;
	flex:1 0 0%;
  justify-content:space-evenly;
  font-size: 1.5em;
  font-family:"roboto";
}

a{
  text-decoration: none;
}
header{
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 40px;
  font-family:"roboto";
}

h1{
  color:rgb(238, 144, 67);
  text-shadow: 2px 2px 8px #030C40;
}

.gallery{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.image {
  position:relative;
  margin:10px; 
 }
 
 .overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: #ffffff;
 }
 
 .image:hover .overlay {
   opacity: 0.7;
 }
 
 .text {
   color: rgb(248, 113, 24);
   font-size: 30px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
 }

.animate__animated:hover{
  animation: infinite;
  animation-play-state: running;
  animation:ease;
}