*{
  margin:0;
  padding:0;
}

.gallery{
  display:grid;
  flex-wrap:wrap;
  padding: 0 4px;
  justify-content:center;
  position:relative;
}

.image{
background-size:cover;
width:400px;
height:225px;
margin:5pt 5pt;
}

.overlay{
  position:absolute;
  transition: all .3s ease;
  opacity: 0;
  background-color:black;
}
.gallery:hover .overlay{
  background-color:black;
  opacity:0.5;
}

.text{
  color:red;
  font-family: sans-serif;
  position:absolute;
  top: 50%;
  left:50%;
  transform:translate (-50%,50%);
  font-size: 20px;
  text-align: center; 